.headerContainer {
    height: 100px;
    width: auto;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.homeBtnContainer {
    align-self: center;
    margin: 20px;
}

.homeBtn{
    width: 30px;
    height: 30px;
    align-self: center;
}

.accountBtn {
    align-content: center;
    display: flex;
    margin: 20px;
}

.accountBtnContent{
    align-self: center;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.accountBtnContent:hover{
    cursor: pointer;
    color: #3500D3;
}

#usernameLink{
    font-size: 30px;
    text-align: center;
    margin-left: 40px ;
    text-decoration: none;
    color: white;
    font-weight: 900;
}