.createPostForm {
  z-index: 2;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  flex-direction: column;
  margin: auto auto;
  height: 600px;
  width: 800px;
  border-radius: 12px;
  background-color: #282828;
  border: 5px solid #3500D3;
  padding: 40px;
}

.closeBtn{
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  background-color: white;
  font-weight: bolder;
  align-self: flex-end;
  margin: 0;
}

.closeBtn:hover{
  cursor: pointer;
  color: red;
}

.createPostTitle {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 400px;

  font-size: 30px;
  border-radius: 12px;

  margin: 20px auto;
  border: none;
  background-color: #240091;
  color: #fff;
}

.createPostContent {
  text-align: center;
  align-self: center;
  height: 200px;
  width: 650px;

  font-size: 30px;
  border-radius: 12px;

  margin: 20px auto;
  border: none;
  background-color: #240091;
  color: #fff;
}

.createPostImage {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 300px;

  font-size: 20px;
  border-radius: 12px;

  margin: 20px auto;
  color: #fff;
}

.createPostImage:hover{
    cursor: pointer;
}

.createPostImage::file-selector-button{
    cursor: pointer;
    border-radius: 10px;   
}

.createPostImage::file-selector-button:active{
    background-color: #9ea372;
}

.createPostSubmit {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 250px;

  font-size: 30px;
  border-radius: 12px;
  
  margin: 20px auto;
  border: 3px solid #190061;
  background-color: #240091;
  color: #fff;
}

.createPostSubmit:hover{
    cursor: pointer;
}

.createPostSubmit:active{
    background-color: #9ea372;
}

@media only screen and (max-width: 840px) {
  .createPostForm {
    height: auto;
    width: 200px;
  }

  .closeBtn{
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
  }

  .createPostTitle {
    height: 40px;
    width: 180px;
  }

  .createPostContent {
    height: 200px;
    width: 200px;
  }

  .createPostImage {
    height: auto;
    width: 200px;
  }
  .createPostSubmit {
    height: auto;
    width: 200px;
    font-size: 20px;
  }
}