.postComp {
  position: relative;
}

.postContainer {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-content: center;

  margin: 15px auto;
  width: 800px;
  height: 800px;
  
  background: transparent;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.border{
  position: relative;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    rgba(53, 0, 211, 0.502),
    rgb(53, 0, 211)
  );
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgb(53, 0, 211),
    rgba(53, 0, 211, 0.5),
    transparent 50%
  );
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    rgba(53, 0, 211, 0.5),
    rgb(53, 0, 211)
  );
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    rgb(53, 0, 211),
    rgba(53, 0, 211, 0.5),
    transparent 70%
  );
}

.top {
  animation: animateTop 5s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 5s ease-in-out infinite;
}

.right {
  animation: animateRight 5s ease-in-out infinite;
}

.left {
  animation: animateLeft 5s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

/* .postContainerPowerUp {
  display: flex;
  flex-direction: column;
  background-color: #9ea372;

  justify-content: center;
  align-content: center;

  margin: 15px auto;
  width: 800px;
  height: 800px;
  border-radius: 10px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 0.2s linear infinite;
} */

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.postTitle {
  align-self: center;
  font-size: 60px;
  margin: 10px auto;
}

.postContent {
  text-align: center;
  align-self: center;
  font-size: 30px;
  margin: 10px auto;
}

.postImage {
  position: relative;
  align-self: center;
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.postVideo{
  position: relative;
  align-self: center;
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.postBtn {
  display: flex;
  margin-left: 230px;
}

.promptBtn {
  display: flex;
  background-color: white;
  margin: 10px;
  justify-content: space-between;
  align-self: center;
}

.promptBtn:hover {
  cursor: pointer;
}

.postPrompts {
  width: 25px;
  height: 25px;
}

.editPostForm {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  height: 600px;
  width: 800px;
  border-radius: 12px;
  background-color: #282828;
  border: 5px solid #3500D3;
  padding: 40px;
}

.closeBtn {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  background-color: #240091;
  border: none;
  font-weight: bolder;
  align-self: flex-end;
  margin: 0;
}

.closeBtn:hover {
  cursor: pointer;
  color: red;
}

.updatePostTitle {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 400px;

  font-size: 30px;
  border-radius: 12px;
  
  margin: 20px auto;
  
  border: none;
  background-color: #240091;
  color: #fff;
}

.updatePostContent {
  text-align: center;
  align-self: center;
  height: 200px;
  width: 650px;

  font-size: 30px;
  border-radius: 12px;

  margin: 20px auto;
  border: none;
  background-color: #240091;
  color: #fff;
}

.updatePostImage {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 300px;

  font-size: 20px;
  border-radius: 12px;

  margin: 20px auto;
  color: #fff;
}
.updatePostImage:hover {
  cursor: pointer;
}

.updatePostImage::file-selector-button {
  cursor: pointer;
  border-radius: 10px;
}

.updatePostImage::file-selector-button:active {
  background-color: purple;
}

.updatePostSubmit {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 250px;

  font-size: 30px;
  border-radius: 12px;

  margin: 20px auto;
  border: 3px solid #190061;
  background-color: #240091;
  color: #fff;
}

.updatePostSubmit:hover {
  cursor: pointer;
}

.updatePostSubmit:active {
  background-color: purple;
}

.postBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto;
}

.likes {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.comments {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  align-content: center;
}

.likeNumber {
  font-size: 20px;
  font-weight: bolder;
}

.likeBtnImg {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-left: 15px;
}

.likeBtnImg:hover {
  cursor: pointer;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(2);
  }
  100% {
    transform: scale(1.5);
  }
}

.likeBtnImg:active {
  -webkit-animation: like 0.5s 1;
  animation: like 0.5s 1;
}

.postPrompt {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 150px;
}

.commentBtn {
  width: 30px;
  height: 30px;
  align-self: center;

  margin-left: 15px;
}

.commentBtn:hover {
  cursor: pointer;
}

.commentBtn:active {
  -webkit-animation: like 0.5s 1;
  animation: like 0.5s 1;
}
